<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    
</head>
<body>
    <header class="search-bar">
        <input type="text" id="searchInput" placeholder="Search for Pokémon" oninput="searchPokemon()">
    </header>
       <main>
        <div class="pokedex red-background">
            <div class="title" id="welcomeTitle">
                <h1>Welcome To DexMaster</h1>
                <img class='pokemon-front-image' src="./static/images/pokemon-image.png" alt="Pokemon Front Page">
            </div>
            <div id="pokemonCards"></div>
        </div>
    </main>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        async function searchPokemon() {
            const query = document.getElementById('searchInput').value.trim();
            const pokemonCardsDiv = document.getElementById('pokemonCards');
            const welcomeTitle = document.getElementById('welcomeTitle');
            const redBackgroundElements = document.getElementsByClassName('red-background');


            const hasRedBackground = redBackgroundElements.length > 0;

    if (query === '') {
        welcomeTitle.style.display = 'block';

        if (!hasRedBackground) {
            const pokedexCard = document.getElementById('pokedexCard');
            pokedexCard.classList.add('red-background');
        }

        pokemonCardsDiv.innerHTML = ''; // Clear previous results
        return;
    } else {
        welcomeTitle.style.display = 'none';

        if (hasRedBackground) {
            for (let i = 0; i < redBackgroundElements.length; i++) {
                redBackgroundElements[i].classList.remove('red-background'); // Remove red background from all elements
            }
        }
    }

            // if (query === '') {
            //     pokemonCardsDiv.innerHTML = '<p>No Pokémon found</p>';
            //     return;
            // }

            const response = await fetch(`/search?query=${query}`);
            if (!response.ok) {
                console.error('Network response was not ok');
                pokemonCardsDiv.innerHTML = '<p>Error fetching Pokémon</p>';
                return;
            }

            const pokemonList = await response.json();
            displayPokemonCards(pokemonList);
        }

        function displayPokemonCards(pokemonList) {
            const pokemonCardsDiv = document.getElementById('pokemonCards');
            pokemonCardsDiv.innerHTML = ''; // Clear previous results

            if (pokemonList.length === 0) {
                pokemonCardsDiv.innerHTML = '<p>No Pokémon found</p>';
                return;
            }

            pokemonList.forEach((pokemon, index) => {
                console.log('Pokemon List: ', pokemon);
                const card = document.createElement('div');
                const abilitiesArray = pokemon.abilities.split(',').map(ability => ability.trim());
                const firstType = pokemon.type.split(',')[0].trim();
                const advantageArray = pokemon.advantage.split(',').map(type => type.trim());
                const weaknessesArray = pokemon.weaknesses.split(',').map(type => type.trim());

                const typeImages = {
                    'Water': "../static/images/water.png",
                    'Rock': '../static/images/rock.png',
                    'Fire': '../static/images/fire.png',
                    'Flying': '../static/images/flying.png',
                    'Grass': '../static/images/grass.png',
                    'Electric': '../static/images/electric.png',
                    'Bug': '../static/images/bug.png',
                    'Dark': '../static/images/dark.png',
                    'Dragon': '../static/images/dragon.png',
                    'Fairy': '../static/images/fairy.png',
                    'Fighting': '../static/images/fighting.png',
                    'Ghost': '../static/images/ghost.png',
                    'Ground': '../static/images/ground.png',
                    'Ice': '../static/images/ice.png',
                    'Normal': '../static/images/normal.png',
                    'Poison': '../static/images/poison.png',
                    'Psychic': '../static/images/psychic.png',
                    'Steel': '../static/images/steel.png'
                }



                card.className =  `pokemon-card type-${firstType.toLowerCase()}`;
                card.innerHTML = `
                    <div class="pokemon-card-content">
                        <div class="pokemon-info-left">
                            <h2 class="pokemon-header">${pokemon.name || 'Unknown'}</h2>
                            <img src="${pokemon.image_url}" alt="${pokemon.name}" class="pokemon-image">
                            <div class="pokemon-stats">
                                <p>Type: ${pokemon.type || 'Unknown'}</p>
                                <p>ID: ${pokemon.ID || 'N/A'}</p>
                                <p>HP: ${pokemon.hp || 'N/A'}</p>
                                <p>Attack: ${pokemon.attack || 'N/A'}</p>
                                <p>Defense: ${pokemon.defense || 'N/A'}</p>
                                <p>Speed: ${pokemon.speed || 'N/A'}</p>
                            </div>
                        </div>

                        <div class="pokemon-types">
                            <div>
                                <div class="type-header">Advantages:</div>
                                <ul id="advantages-list-${index}"></ul>
                            </div>
                            <div>
                                <div class="type-header">Weaknesses:</div>
                                <ul id="weaknesses-list-${index}">
                                </ul>
                            </div>
                            <div class="pokemon-abilities">
                            <div class="abilities-header">Ability:</div>
                            <ul>
                                ${abilitiesArray.map(ability => `
                                    <li>${ability}</li>
                                `).join('')}
                            </ul>
                        </div>
                        </div>
                </div>
            `;
                pokemonCardsDiv.appendChild(card);
                const advantagesList = document.getElementById(`advantages-list-${index}`);
                advantageArray.forEach(type => {
                    const listItem = document.createElement('li');
                    const img = document.createElement('img');
                    img.src = typeImages[type];
                    img.alt = type;

                    listItem.appendChild(img);
                    advantagesList.appendChild(listItem);
            });
            const weaknessesList = document.getElementById(`weaknesses-list-${index}`);
            weaknessesArray.forEach(type => {
                const listItem = document.createElement('li');
                const img = document.createElement('img');
                img.src = typeImages[type]; // Map the type to the image
                img.alt = type; // Add an alt tag for accessibility

                listItem.appendChild(img); // Add the image to the list item
                weaknessesList.appendChild(listItem); // Add the list item to the UL
            });
            });
        }
    </script>
</body>
</html>

